
  <p>shopping-cart works!</p>
<div class="shopping-cart">
  <h2>Your Cart</h2>
  <div *ngIf="baked.length > 0; else emptyCart">
    <ul>
      <li *ngFor="let bake of baked">
        <span>{{ bake.name }} - {{ bake.unit }} x {{ formatCurrency(bake.price) }}</span>
        <button class="remove-button" (click)="removeItem(bake)">Remove</button>
      </li>
    </ul>
    <p class="total">Total: {{ formatCurrency(getTotal()) }}</p>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty</p>
  </ng-template>
</div>
