<p>main-page works!</p>
<app-order-form></app-order-form>
<h2>{{message}}</h2>
<h3>Today is {{getDay.toLocaleString()}}</h3>
<div class="card" *ngFor="let bake of baked">
    <img src="../../images/{{bake.imageURL}}.jpg" alt={{bake.name}}>


<p>search works!</p>

<div class="search-box">

  <input matInput [(ngModel)]="searchText" (input)="searchBake()" type="text" placeholder="Search Bake" />
  <button (click)="searchBake()" type="button">Go</button>
  <button (click)="reset()" type="button">Clear</button>
</div>

<div class="baked-goods-list">
  <div *ngFor="let bake of baked">
    <div class="baked-good">
      <h3>{{ bake.name }}</h3>
      <p>\${{ bake.price ? bake.price.toFixed(2) : '0.00' }} per {{ bake.unit }}</p>
    </div>
  </div>
</div>
