
<app-contact-us></app-contact-us>
<footer class="footer">
    <div class="footer-content">
      <p>Contact us: +1 (123) 456-7890</p>
      <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank">
          <img src="/src/assets/icons/instagram-icon.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <img src="/src/assets/icons/facebook-icon.png" alt="Facebook">
        </a>
      </div>
    </div>
  </footer>
  