<p>baked-cards works!</p>
<a href="">
    <mat-card mat-ripple [matRippleCentered]="true" class="card">
        <img src="../../assets/images/" alt="" width="280px" height="250px">
    
        <mat-card-content class="card-content">
            <h4>{{bake?.name}}</h4>
            ${{bake?.price}} per {{bake?.unit}}
            <div>
                <!-- <div *ngFor="let bake of baked"> -->
                  <div>
                      <h3>{{ bake?.name }}</h3>
                      <img src="../../assets/images/{{bake?.imageURL}}.jpg" alt={{bake?.name}} width="280px" height="250px">
                    <p>${{ bake?.price }} per {{ bake?.unit }}</p>
                  </div>
                </div>    
        </mat-card-content>
        <mat-card-actions>
            <button color="warn" mat-icon-button><mat-icon>favorite</mat-icon></button>
            <button color="accent" mat-icon-button><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</a>