<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <div>
    <header class="header">
      <h1>Baked4Less</h1>
      <h2>"Savory Sweets, Budget Friendly Treats"</h2>
      <nav class="nav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact Us</a>
        <a href="#cart">Shopping Cart</a>
      </nav>
      <img src="/src/assets/images/Butter Cookies.jpg" alt="">
    </header>
  </div> -->
  <div>
    <header class="header">
      <h1>Baked4Less</h1>
      <h2>"Savory Sweets, Budget Friendly Treats"</h2>
      <nav class="nav">
        <a routerLink="/app-main-page">Home</a>
        <a routerLink="/app-about">About</a>
        <a routerLink="/app-contact-us">Contact Us</a>
        <a routerLink="/app-shopping-cart">Shopping Cart</a>
      </nav>
      <img src="../../assets/images/2.png" alt="Logo">
    </header>
  </div>
  