div{
    background-color:antiquewhite;
    border-bottom: 4px solid lightskyblue;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
h2 {
    /* margin: 0px; */
    font-family: 'Pacifico', cursive;
    font-weight: 60;
    color: lightpink;
}